__pycache__/
config.json

# ignorar logs, mas não logger
/logs/*
!/logs/*.py
/scripts/gyms/logs

# ignorar modelos exportados
/scripts/gyms/export

# ignorar bibliotecas compartilhadas, binários e informações de compilação
*.so
*.bin
*.c_info
*.spec

# ignorar perfil feito por profilers python
profile

#ignorar pastas ocultas, mas incluir arquivos ocultos
.*/

# ignorar arquivos de teste na pasta raiz
/test*

# ignorar pasta do pacote, mas não o script do pacote
/bundle/*
!/bundle/bundle.sh